/* this changes will appear in entire body part.(to all the content which is present in body )*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(skyblue,lightgreen);
}
.wrapper
{
    width: 420px;
    color:black;
    border-radius: 10px;
    padding: 30px 40px ;
    background: transparent;
    border:2px solid black;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,-2);
}
.wrapper .input-box{
    width:26.5em;
    height: 50px;
    background:transparent;
    border-radius:40px ;
    margin:30px 0;

}
.input-box input{
    width: 22em;
    height: 0.5rem;
    background: transparent;
    border:none;
    outline: none;
    border:1px solid black;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder
{
    color:black;
}
.wrapper .remember-forgot
{
    display: flex;
    justify-content:space-between;
    font-size: 14.5px;
    margin:-15px 0 15px;
}
.remember-forgot label input{
    accent-color:black;
    margin-right: 3px;
}
.remember-forgot a{
    color: black;
    text-decoration: none;
}
.remember-forgot a:hover
{
    text-decoration: underline;
}
.wrapper .btn
{
    width: 100%;
    height: 45px;
    background: #fff;
    border: 1px;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 600;
}
/*  this is to change the colour,size when pointer goes on that button */
.wrapper .btn:hover{
    background:linear-gradient(skyblue,lightgreen);
}
.wrapper .register-link
{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a{
    color: black;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}
